


<!-- <section class="col-12 m-b-60" >
  <ng-container *ngIf="course">
    <form action="#" class="form form-label-right" [formGroup]="formGroup">
      
     <div class="row">
            <div class="col-xl-3">
              <div class="form-group">
        
          <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="coursename"
            placeholder="اسم التدريب"  formControlName="coursename" />
          
         <!--  <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'lastName')">Last name should have at
            least 3 symbols</div>
          <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'lastName')">Last name should have maximum
            100 symbols</div> -->
   <!--      </div>
  </div>
         
    
       <div class="col-xl-3">
              <div class="form-group">
       <button type="submit" class="btn btn-primary btn-elevate"
     >اضف</button>
      </div>
   </div>
 </div>
    
      
    </form>
  </ng-container>
</section>  -->



<br/>
<form class="form-inline" [formGroup]="formGroup">
 <div class="col-12">
  <div class="form-group">
    <label class="input-text col-6" >
      <span class="label">Customer Name</span>
      <input type="text" formControlName="customername" />
      <div class="alert alert-danger" *ngIf="controlHasError('required', 'customername')">required field</div>
    </label>

    <label class="input-text col-3">
      <span class="label">Class</span>
      <input type="text" formControlName="class"  />
      <div class="alert alert-danger" *ngIf="controlHasError('required', 'class')"> required field </div>
     
    </label>
    
  </div>
 </div>


<div class="col-12">
  <div class="form-group">
    <label class="input-text col-5">
      <span class="label">Phone</span>
      <input type="number" formControlName="phone"/>
      <div class="alert alert-danger" *ngIf="controlHasError('required', 'phone')">required field </div>
    </label>

    <label class="input-text col-5">
      <span class="label">Email</span>
      <input type="text" formControlName="email"/>
      <div class="alert alert-danger" *ngIf="controlHasError('required', 'email')"> required field </div>
    </label>
  </div>
</div>

    <div class="form-group">
      <label class="input-textarea">
        <span class="label">Comment</span>
        <textarea  formControlName="comment"></textarea>
      </label>
  </div>
<br/>
  <div style="margin-left: 85%;">
    <div class="form-group">
      <!-- <a href="#" class="btn btn-default">Submit</a> -->
      <button class="btn btn-blue col-4" (click)="clear()" >Clear</button>
      <button class="btn btn-blue col-4"(click)="save()" [disabled]="saveDisabled" >Save</button>
      <button class="btn btn-blue col-4" (click)="update()" [disabled]="updateDisabled">Update</button>
    </div>
  </div>

  
  
</form>


<br/>
<ag-grid-angular
    style="width: 1000px; height: 500px; margin-left: auto;
    margin-right: auto;"
    class="ag-theme-alpine"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
    [rowSelection]="rowSelection"
    (selectionChanged)="onSelectionChanged()"
    (gridReady)="onGridReady($event)"
    (sortChanged)="printSortStateToConsole()"
>
</ag-grid-angular>

<div style="margin-left: 85%; margin-top: 3%;" >
<div class="form-group">
  <!-- <a href="#" class="btn btn-default">Submit</a> -->
 
  <button style="margin-left: 70%;" class="btn btn-red col-3" (click)="delete()">Delete</button>
</div>
</div>
